<!--DOCTYPE html-->
<html>
  <head>
    <!--Links all html pages to css-->
    <link rel="stylesheet" href="static/css/main.css">
    <!--Navigation bar used on all pages-->
    <div class="navbar">
      <a href="{{ url_for('home') }}"><img class="navimg" src="https://montispro.com/upload/landing/1e1/Wish_List_Travel_logo.png"></a>
      <div class="navlink">
        <a class="navspace" href="{{ url_for('home') }}">spc</a>
        <a class="nav1" href="{{ url_for('home') }}">Home</a>
        <a class="nav2" href="{{ url_for('wishlist') }}">Wish List</a>
        <a class="nav3" href="{{ url_for('visited') }}">Visited</a>
        <a class="nav4" href="{{ url_for('ideas') }}">Ideas</a>
      </div>
    </div>
  </head>
  <!--Area where other pages input html-->
  <body>
    {% block content %}{% endblock %}
  </body>
  <br/>
  <!--Footer used on all pages-->
  <footer class="footer">
    <p>WISH LIST TRAVEL<br>(479) 200-6610  | 183 O'Neal Lane, Elkins, AR 72727</p>
    <p>© 2020 All rights reserved.</p>
  </footer>
</html>